# Global
/node_modules/
/dist/
/build/
/logs
*.log

# Backend 개별 서비스의 빌드/노드모듈 제외
/backend/*/node_modules/
/backend/*/dist/
/backend/*/coverage/
/backend/*/.nyc_output/

# OS
.DS_Store

# IDE/editor 관련 설정
/.idea/
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Env files
.env
.env.*
.env.local

# Temp files
*.tmp
*.temp

# Diagnostics
report.*.json